/* =====================================
   Page Styles
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');



:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    font-family: 'Ubuntu', sans-serif;
}

h1 span {
    font-size: .6em;
}

h2 {
    margin-top: 4em;
    align-self: center;
}

ul li {
    display: block;
}

a {
    text-decoration: none;
    margin: 0 1em;
}

.container-main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(500px, 1fr) 100px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    background-color: #0984e3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    height: 100px;
}

main {
    display: grid;
    grid-area: main;

}

footer {
    grid-area: footer;
    background-color: #00b894;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.section-item-1,
.site-nav {
    display: flex;
    /* justify-content: flex-start; */


}



.wrapper-header,
.section-item-2,
.section-item-3,
.section-item-4 {
    width: 100%;
    margin: 0 auto;
}

.section-item-1 {
    width: 100%;


}


.wrapper-section-1 {
    display: flex;
    overflow: hidden;
    min-height: 100vh;  /* change to 30vh */
    /* background-image: radial-gradient(#0984e3 50%,  #74b9ff 60%, pink 10%); */
    background-image: url("../img/universe.jpg");
    /* background-color: #714ABA; */
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: -3em;
    align-items: center;
}

.wrapper-section-2 {
    background-color: #007A6D;
    min-height: 60vh;
}


.wrapper-section-3 {
    background-color: #a29bfe;
}

.wrapper-section-4 {
    background-image: url(../img/wov.png);
}


.wrapper-header {
    min-height: 100%;
    display: flex;
    align-items: center;
    grid-area: header;
    justify-content: space-between;
}

.section-item-2 {

    min-height: 100%;
}

.title-img {
    margin-top: auto;
    max-height: 100vw;
}

.logo {
    max-width: 100px;
    margin-top: auto;
}

.logo1 {
    height: 70px;
}

.section-item-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section:nth-of-type(1, 3) {
    background-color: khaki;
} */

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.address {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-surf {
    width: 100vw;
    margin: 0 auto;
}


@media (min-width: 578px) {

    .wrapper-header,
    .section-item-2,
    .section-item-3,
    .section-item-4 {
        width: 90%;
        margin: 0 auto;
    }

}



@media (min-width: 768px) {

    .wrapper-header,
    .section-item-2,
    .section-item-3,
    .section-item-4 {
        width: 80%;
        margin: 0 auto;
    }

    .total-surf {
        max-width: 80vw;
        margin: 0 auto;
    }

}


@media (min-width: 992px) {

    .wrapper-header,
    .section-item-2,
    .section-item-3,
    .section-item-4 {
        width: 75%;
        margin: 0 auto;
    }

}