/* =====================================
   Page Styles
======================================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');



:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}



.section-item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-start; */

}



.section-item-1 {
    width: 100%;


}


.wrapper-section-1 {
    display: flex;
    overflow: hidden;
    height: 100vh;  /* change to 30vh */
    /* background-image: radial-gradient(#0984e3 50%,  #74b9ff 60%, pink 10%); */
    background-image: url("../img/universe.jpg");
    /* background-color: #714ABA; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.wrapper-section-1::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(200, 214, 229,1.0);
    background-color: rgba(200, 214, 229,0.1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}



.total-surf {
    width: 98vw;
    z-index: 100;
}

.music {
    display: inline;
    z-index: 2000;
}

audio {
    width: 8em;
    max-height: 1em ;
}

@media (min-width: 578px) {

    .wrapper-header,
    .section-item-2,
    .section-item-3,
    .section-item-4 {
        width: 90%;
        margin: 0 auto;
    }

}



@media (min-width: 768px) {

    .total-surf {
        max-width: 40vw;
        margin: 0 auto;
    }

}


